
// === COLORS ===//

//$accent-color: #ff6b6b;//
//$default-primary-color: #FFf;//

$primary-color: #6f7d95;
$dark-primary-color : #41444c;
$light-primary-color: #eceef3;

// = background =//
$hover-table-bg-color: #f3f4f5;
$hover-group-bg-color: #e4e5e9;

// = text =//
$dark-text-color: #262729;
$primary-text-color: #41444c;
$secondary-text-color: #74767b;
$text-primary-color: #fff;

// = borders =//
$divider-color: #74767b;
$border-dark: #41444c;
$border-button: #929bab;
$border-light:#d1d4d9;

// = buttons =//
$button-background-primary: #6f7d95;


$warning-color: #efbe2d;
$success-color: #60ab4c;
$success-icon-color: #5fab4b;
$warning-icon-color: #ff5050;

// === FONTS ===//
$text-font: Roboto, sans-serif;


//===SIZES ===//

$alert-height: 40px;
$table-header: 56px;
$header-height: 117px;

$sidebar-row-height: 60px;
$sidebar-row-width: 470px;

